META_APP_ID=441922...............
META_APP_SECRET=81ca8db4.............
INSTAGRAM_APP_ID=19613............
INSTAGRAM_APP_SECRET=9e30701b509e07..............
NEXT_PUBLIC_APP_URL=https://tractionflo.vercel.app
META_VERIFY_TOKEN=tractionflo_super_secret_2026
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.your-service-role-key-here
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.your-anon-key-here
CLOUDINARY_URL=cloudinary://your-api-key:your-api-secret@your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_NAME=your-cloudinary-api-name
# pusher notification key from testing email
PUSHER_APP_ID=your-pusher-app-id
PUSHER_KEY=your-pusher-key
PUSHER_SECRET=your-pusher-secret
PUSHER_CLUSTER=mt1
NEXT_PUBLIC_PUSHER_KEY=your-pusher-key
NEXT_PUBLIC_PUSHER_CLUSTER=mt1
ORIGIN=https://tractionflo.vercel.app
# Nodemailer SMTP email delivery
OPENAI_API_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-smtp-username@gmail.com
SMTP_PASS=your-smtp-app-password
SMTP_FROM="Traction Flow Management System <sitet740@gmail.com>"
ADMIN_ALERT_EMAIL=admin@example.com
# srtipe intergration for payment processing
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your-stripe-key
STRIPE_SECRET_KEY=sk_test_your-stripe-secret-key
# supabase connection string
DATABASE_URL=postgresql://postgres:your-db-password@db.your-project-id.supabase.co:5432/postgres